body, html {
    background-color: rgb(255, 0, 82);
}

@font-face {
    font-family: 'console';
    src: url('/fonts/inconsolata.regular.ttf')format('ttf');
}

.code {
    position: absolute;
    bottom: 0%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 200px;
    background: transparent;
    text-align: center;
    font-size: 24pt;
    font-weight: 300;
    font-family: 'console';
    color: white;
}

.time {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: transparent;
    text-align: center;
    font-size: 40pt;
    line-height: 200px;
    font-weight: 300;
    color: white;
}

.nums {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
    background: transparent;
    text-align: center;
    line-height: 70px;
}

.numbs {
    display: inline-flex;
    width: 65px;
    margin: 10px;
    padding-top: 8px;
    text-indent: 15px;
    background: transparent;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid white;
    border-radius: 50%;
    height: 65px;
    font-size: 30pt;
    font-weight: lighter;
}

.numbs:hover {
    background-color: white;
    color:rgb(255, 0, 82);
}

.icon {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 30px;
}